<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <connectionStrings>
    <add
      name="ConnectionString"
      connectionString=
        "
          server=(localdb)\mssqllocaldb;
          database=DotNetMemo;
          Integrated Security=True;
        "
      providerName="System.Data.SqlClient" />
  </connectionStrings>  
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IHelloService" />
                <binding name="BasicHttpBinding_ISumService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/DotNetMemo.Services/HelloService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHelloService"
                contract="HelloServiceReference.IHelloService" name="BasicHttpBinding_IHelloService" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/DotNetMemo.Services/SumService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISumService"
                contract="SumServiceReference.ISumService" name="BasicHttpBinding_ISumService" />
        </client>
    </system.serviceModel>
</configuration>